{% extends 'MiPrimerProyectoApp/base.html' %}
{% load static %}
{% block contenidoPagina %}

        <div class="container px-5">    
            <table class="table table-striped">
            <thead>
                
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Fecha de Nacimiento</th>
            </tr>
        </thead>
        {% for k in data  %}  
        <tbody>
            <tr>
                
                <td>{{k.nombre}}</td>
                <td>{{k.apellido}}</td>
                <td>{{k.edad}}</td>
                <td>{{k.fecha_nacimiento}}</td> 
                <td><a href="{% url 'editar-familiar' k.id %}"> Editar familiar</a></td>
                <td><a href="{% url 'eliminar-familiar' k.id %}"> Eliminar familiar</a></td>
                
             
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <a href="{% url 'crear-familiar' %}">+ Crear nuevo familiar</a>



    {% endblock %}