<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle familiares</title>
</head>
<body>
    <h2>Detalle familiar;</h2>
    <p>Nombre: {{familiar.nombre}}</p>
    <p>Apellido: {{familiar.apellido}}</p>
    <p>Edad: {{familiar.edad}}</p>
    <p>fecha_de_nacimiento: {{familiar.nombre}}</p>
    <a href="{% url 'familiares_list' %}"> Regresar a la lista de familiares</a>

</body>
</html>