{% extends 'MiPrimerProyectoApp/base.html' %}
{% load static %}


{% block tituloPagina %}
<title>Log in - App Coder</title> 
{% endblock %}

{% block contenidoPagina %}

<section class = 'bg-light py-5'>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4>Log in</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}